@model Race
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="main-container">

    <section class="bg-white space-sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mb-4 mb-sm-0">
                    <img alt="Image" src="@Model.Image" class="rounded img-fluid" />
                </div>
                <!--end of col-->
                <div class="col-lg-4 d-flex flex-column justify-content-between mr-auto ml-auto">
                    <div>
                        <h1 class="mb-2">@Model.Title</h1>
                        <h2 class="lead mb-3">@Model.Address.City, @Model.Address.State</h2>
                        <div>
                            <span class="badge badge-secondary mr-3">@Model.RaceCategory</span>
                        </div>
                      
                    </div>
                    
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="space-sm">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-md-8 col-lg-7">
                    <h5 class="mb-4">Overview</h5>
                    <article>
                        @Model.Description
                    </article>
                    <hr>
                    @if (Model.AppUser?.UserName != null) {
                        <h4>
                           Race creator: <a class="btn btn-outline-primary" asp-controller="User" asp-action="Detail" asp-route-id="@Model.AppUser.Id">
                                @Model.AppUser.UserName
                            </a>
                        </h4>
                    }
                    else {
                        <h4>This race has no creator, this is traditional race created by miltiple runners.</h4>
                    }
                    <!-- end card -->
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
